<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Stickers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526F00471F59195500879715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526F00561F591BD700879715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526F00651F5922D900879715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B1384E1F47D39B0021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138621F47D39B0021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B1386D1F47D39C0021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138831F47D4330021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138961F47D4330021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138A11F47D4330021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138B51F47D4590021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138C81F47D4590021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138D31F47D4590021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138E71F47D4650021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B138F71F47D4660021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B139021F47D4660021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B139141F47D47C0021D7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CC92CE1F59247E00B7C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CC92DD1F59257A00B7C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F6D8F41F591850005E36C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
